.header-nav{
  height: 50px;
  background-color: rebeccapurple;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
  margin-bottom: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}

.nav-link{
  color: white;
}

