.header-nav{
  height: 50px;
  background-color: rebeccapurple;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
  margin-bottom: 50px;
}

.nav-link{
  color: white;
}
