<div class="header-nav">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" routerLink="/produits">Accueil</a>
    </li>
  </ul>
  <div class="box-user">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" routerLink="/produits/emprunte">Mes libres empruntes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"><span class="badge badge-success" style="cursor: pointer">Abonne</span></a>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-outline-primary" routerLink="/produits/create-produit">creer un produit</button>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Deconnexion</a>
      </li>
    </ul>
  </div>
</div>
