<div class="row">
  <div class="col-sm-12 mb-3">
    <div class="alert alert-primary text-center" role="alert">
      <h2 class="" style="margin: 0">Vos livres empruntes</h2>
    </div>
  </div>
  <div class="col-sm-4 mb-3 ">
    <div class="card shadow">
      <div class="card-body">
        <h2 class="card-title">Special title treatment</h2>
        <p class="card-text">categorie</p>
        <p class="card-text">20144777</p>
        <a href="#" class="btn btn-primary">Emprunter</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 mb-3 ">
    <div class="card shadow">
      <div class="card-body">
        <h2 class="card-title">Special title treatment</h2>
        <p class="card-text">categorie</p>
        <p class="card-text">20144777</p>
        <a href="#" class="btn btn-primary">Emprunter</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 mb-3 ">
    <div class="card shadow">
      <div class="card-body">
        <h2 class="card-title">Special title treatment</h2>
        <p class="card-text">categorie</p>
        <p class="card-text">20144777</p>
        <a href="#" class="btn btn-primary">Emprunter</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 mb-3 ">
    <div class="card shadow">
      <div class="card-body">
        <h2 class="card-title">Special title treatment</h2>
        <p class="card-text">categorie</p>
        <p class="card-text">20144777</p>
        <a href="#" class="btn btn-primary">Emprunter</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 mb-3 ">
    <div class="card shadow">
      <div class="card-body">
        <h2 class="card-title">Special title treatment</h2>
        <p class="card-text">categorie</p>
        <p class="card-text">20144777</p>
        <a href="#" class="btn btn-primary">Emprunter</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 mb-3 ">
    <div class="card shadow">
      <div class="card-body">
        <h2 class="card-title">Special title treatment</h2>
        <p class="card-text">categorie</p>
        <p class="card-text">20144777</p>
        <a href="#" class="btn btn-primary">Emprunter</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 mb-3 ">
    <div class="card shadow">
      <div class="card-body">
        <h2 class="card-title">Special title treatment</h2>
        <p class="card-text">categorie</p>
        <p class="card-text">20144777</p>
        <a href="#" class="btn btn-primary">Emprunter</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 mb-3 ">
    <div class="card shadow">
      <div class="card-body">
        <h2 class="card-title">Special title treatment</h2>
        <p class="card-text">categorie</p>
        <p class="card-text">20144777</p>
        <a href="#" class="btn btn-primary">Emprunter</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 mb-3 ">
    <div class="card shadow">
      <div class="card-body">
        <h2 class="card-title">Special title treatment</h2>
        <p class="card-text">categorie</p>
        <p class="card-text">20144777</p>
        <a href="#" class="btn btn-primary">Emprunter</a>
      </div>
    </div>
  </div>


</div>
