<div class="row">
  <div class="col-sm-12 mb-3">
    <div class="alert alert-primary text-center" role="alert">
      <h2 class="" style="margin: 0">Tous les libres disponibles</h2>
    </div>
  </div>
  <div class="col-sm-4 mb-3" *ngFor="let itemProduit of listProduit">
    <div class="card shadow">
      <div class="row card-body">
        <h2 class="col-sm-12 card-title">{{itemProduit.nom}}</h2>
        <div class="col-sm-6">
          <h4 class="font-weight-bold">categorie</h4>
          <p class="card-text categorie">{{itemProduit.categorie}}</p>
        </div>
        <div class="col-sm-6 montant text-right">
          <h4 class="font-weight-bold">Montant</h4>
          <p class="card-text categorie">{{itemProduit.prix | currency: 'XAF': 'symbol': '3.2-2': 'fr' }}</p>
        </div>
        <div class="col-sm-6 mt-3">
          <a href="#" class="btn btn-primary">Emprunter</a>
        </div>
        <!--<p class="col-sm-6 mt-3 date-format">
          <span>{{itemProduit.date}}</span>
        </p>-->
      </div>
    </div>
  </div>
</div>
